certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.13
importlib_metadata==8.7.1
joblib==1.5.3
numpy==2.0.2
packaging==26.1
pandas==2.3.3
pgeocode==0.4.1
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
requests==2.32.5
scikit-learn==1.6.1
scipy==1.13.1
sklearn==0.0
threadpoolctl==3.6.0
tomli==2.4.1
tzdata==2026.1
urllib3==2.6.3
zipp==3.23.1
